.forge-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 2; }

.logo-size {
  width: 50%; }

.model-button {
  background-color: #878787;
  border-radius: 50%;
  border: none;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 2em;
  height: 55px;
  line-height: 1.8;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 55px;
  z-index: 2;
  outline: none; }
